@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #3B7ECF;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr)
    /* display: flex;
    flex-direction: column;
    justify-content: center; */                      
}

header{
    text-align: center;
}

main{
    height: 400px;
    width: 600px;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.468);
    margin: 20px auto;
    border-radius: 10px;
}

footer{
    text-align: center;
}
