@charset "UTF-8";

body{
    background-color: gray;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
}

.snake {
    background-color: green;
}

.food {
    background-color: red;
}