@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 111, 236);

}

header {
    text-align: center;
    color: white;
    padding: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.325);

}

section { 
    width: 600px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.218);
    margin-top: 20px;
    padding: 15px;

}

div#container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

p.div1paragrafo {
    margin: 15px;
}

p#paragrafo3 {
    grid-column: 2/3;
    grid-row: 1/3;
}

input[type=button] {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
    height: 100%;
    width: 100%;

}

input[type=button]:active {
    background-color: rgb(212, 210, 210);
}

div#container2 {
    text-align: center;
}

div#container3 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
}