@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #4085DA;
}

header {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.547);
    text-align: center;
    margin-top: 20px;
    font-size: 1.3em;
}

main {
    width: 600px;
    height: 400px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.265);
    padding: 10px;
    text-align: center;
}

#container1 {
    margin: 10px;
}

#container3 {
    margin: 10px;
}

input[type=button] {
    width: 100px;
}