@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 111, 236);

}

header {
    text-align: center;
    color: white;
    padding: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.325);

}

section { 
    width: 600px;
    height: 400px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.218);
    margin-top: 20px;
    padding: 15px;

}

p {
    margin: 10px;
}